<div class= 'col-md-4'>
	<h2><%= post.description %></h2>
	<% if post.user %>
		<p>Posted by: <%= post.user.email %></p>
	<% end %>
	<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
	<br/><br/>
	<% post.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
	<% end %>

	<ul>
		<% post.comments.each do |comment| %>
			<li><%= comment.comment %> </li>
		<% end %>
	</ul>

	<% if user_signed_in? %>
		<%= link_to "Add comment", new_post_comment_path(post), class: 'btn btn-primary btn-lg' %>
	<% end %>

	<% if post.user == current_user %>
		<%= link_to "Delete post", post_path(post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary btn-lg' %>
	<% end %>

	<% if user_signed_in? %>
		<%= link_to "❤ #{post.likes.count}", post_likes_path(post), method: :post, class: 'btn btn-lg btn-default btn-like' %>
	<% else %>
		<%= "❤ #{post.likes.count}" %>
	<% end %>

</div>